{% extends 'main/base.html' %}

{% block content %}
<div class="col-12 text-center">
    <h1 class="mt-4 mb-5">Добро пожаловать на наш сайт сервиса управления рассылками!</h1>
    <img src="media/home.png" alt="заставка">
    <p></p>
    <p>Наш сервис поможет быстро создавать рассылки, задавать им параметры, а также просматривать
        результаты этих рассылок.</p>
    <p>Мы стремимся сделать наш сайт максимально удобным и понятным для вас, чтобы вы могли легко использовать его для
        своих нужд.</p>
    <h3>Просто попробуй!</h3>
</div>
{% endblock %}